Item-based collaborative filtering with ratings data filtered to contain only books with more then 25 ratings. Since we will compare book vectors, it would be nice to have there some values.

# Setup

In [ ]:
!wget https://raw.githubusercontent.com/katarinagresova/MLprojects/main/BookRecommendations/data/preprocessed_books.csv
!wget https://raw.githubusercontent.com/katarinagresova/MLprojects/main/BookRecommendations/data/preprocessed_users.csv
!wget https://raw.githubusercontent.com/katarinagresova/MLprojects/main/BookRecommendations/data/preprocessed_ratings.csv

--2021-11-08 17:55:36--  https://raw.githubusercontent.com/katarinagresova/MLprojects/main/BookRecommendations/data/preprocessed_books.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23601906 (23M) [text/plain]
Saving to: ‘preprocessed_books.csv’

preprocessed_books. 100%[===================>]  22.51M   139MB/s    in 0.2s

2021-11-08 17:55:36 (139 MB/s) - ‘preprocessed_books.csv’ saved [23601906/23601906]

--2021-11-08 17:55:36--  https://raw.githubusercontent.com/katarinagresova/MLprojects/main/BookRecommendations/data/preprocessed_users.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1840909 (1.8M) [text/plain]
Saving to: ‘preprocessed_users.csv’

preprocessed_users. 100%[===================>]   1.75M  --.-KB/s    in 0.06s

2021-11-08 17:55:37 (30.0 MB/s) - ‘preprocessed_users.csv’ saved [1840909/1840909]

--2021-11-08 17:55:37--  https://raw.githubusercontent.com/katarinagresova/MLprojects/main/BookRecommendations/data/preprocessed_ratings.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 37110372 (35M) [text/plain]
Saving to: ‘preprocessed_ratings.csv’

preprocessed_rating 100%[===================>]  35.39M   147MB/s    in 0.2s

2021-11-08 17:55:38 (147 MB/s) - ‘preprocessed_ratings.csv’ saved [37110372/37110372]

In [ ]:
import pandas as pd
import numpy as np    
from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype

In [ ]:
books = pd.read_csv('preprocessed_books.csv')
users = pd.read_csv('preprocessed_users.csv')
ratings = pd.read_csv('preprocessed_ratings.csv')

In [ ]:
ratings

         User-ID        ISBN  Book-Rating
0         276725  034545104X     0.000000
1         276726  0155061224     0.000000
2         276727  0446520802     0.000000
3         276729  052165615X     0.000000
4         276729  0521795028     0.000000
...          ...         ...          ...
1031005   276704  0876044011     0.578179
1031006   276704  1563526298     2.578179
1031007   276706  0679447156     0.000000
1031008   276709  0515107662     0.000000
1031009   276721  0590442449     0.000000

[1031010 rows x 3 columns]

# Data preprocessing

- create new column combining book title and book author - this will be used to identify books
- filter ratings to use only books with at least 50 ratings

In [ ]:
books['Title'] = books.apply(lambda x: x['Book-Title'].lower() + ' | ' + x['Book-Author'].lower() , axis=1)

In [ ]:
books

              ISBN  ...                                              Title
0       0195153448  ...           classical mythology | mark p. o. morford
1       0002005018  ...                clara callan | richard bruce wright
2       0060973129  ...                decision in normandy | carlo d'este
3       0374157065  ...  flu: the story of the great influenza pandemic...
4       0393045218  ...           the mummies of urumchi | e. j. w. barber
...            ...  ...                                                ...
270942  0440400988  ...        there's a bat in bunk five | paula danziger
270943  0525447644  ...               from one to one hundred | teri sloat
270944  006008667X  ...  lily dale : the true story of the town that ta...
270945  0192126040  ...                republic (world's classics) | plato
270946  0767409752  ...  a guided tour of rene descartes' meditations o...

[270947 rows x 6 columns]

In [ ]:
books['Title'].value_counts()

little women | louisa may alcott                    23
wuthering heights | emily bronte                    22
adventures of huckleberry finn | mark twain         20
pride and prejudice | jane austen                   19
the secret garden | frances hodgson burnett         17
                                                    ..
drawing: a contemporary approach | claudia betti     1
my foolish heart | james pendergrast                 1
avenging angel (point crime s.) | david belbin       1
die kunst der unordnung. | luciano decrescenzo       1
the bond of power | joseph chilton pearce            1
Name: Title, Length: 248207, dtype: int64

Just to know, that there are many books with multiple ISBN numbers, but with the same name and the same author. We will treat those books as one. So we will use column `Title` in user-item table, instead of column `ISBN`.

In [ ]:
ratings['ISBN'].unique().shape

(269745,)

In [ ]:
num_ratings_by_book = ratings.groupby('ISBN')["Book-Rating"].count()
ratings[ratings['ISBN'].isin(num_ratings_by_book[num_ratings_by_book < 25].index)].value_counts()

User-ID  ISBN        Book-Rating
278854   0553578596  -5.046604      1
95359    0399142819   4.390684      1
         0396087213  -0.609316      1
         039562892X  -2.484316      1
         0394832922   3.390684      1
                                   ..
189334   0452268737   5.639425      1
         0452268621   5.639425      1
         0452268370  -3.360575      1
         0452267765  -4.360575      1
2        0195153448   0.000000      1
Length: 684540, dtype: int64

In [ ]:
ratings = ratings[ratings['ISBN'].isin(num_ratings_by_book[num_ratings_by_book > 24].index)]
ratings = ratings.reset_index(drop=True)

In [ ]:
ratings

        User-ID        ISBN  Book-Rating
0        276725  034545104X     0.000000
1        276727  0446520802     0.000000
2        276744  038550120X     0.000000
3        276746  0425115801    -0.180370
4        276746  0449006522    -1.155024
...         ...         ...          ...
346465   276704  0446605409    -2.582535
346466   276704  0743211383     3.867899
346467   276704  080410526X    -2.301666
346468   276706  0679447156     0.000000
346469   276709  0515107662     0.000000

[346470 rows x 3 columns]

In [ ]:
ratings['ISBN'].unique().shape

(5463,)

# User-item matrix

In [ ]:
ratings = pd.merge(ratings, books[['ISBN', 'Title']])

In [ ]:
ratings['Title'].unique().shape

array(['flesh tones: a novel | m. j. rose',
       'the notebook | nicholas sparks', 'a painted house | john grisham',
       ..., 'slightly scandalous (get connected romances) | mary balogh',
       'years | lavyrle spencer', 'something wonderful | judith mcnaught'],
      dtype=object)

In [ ]:
sparse = ratings.pivot_table(columns='Title', values='Book-Rating', index='User-ID')

In [ ]:
corr = sparse.corr()

In [ ]:
corr

Title                                               " lamb to the slaughter and other stories (penguin 60s s.) | roald dahl  ...  zwã?â¶lf. | nick mcdonell
Title                                                                                                                        ...
" lamb to the slaughter and other stories (peng...                                           1.000000                        ...                        NaN
"o" is for outlaw | sue grafton                                                             -0.343682                        ...                        NaN
"surely you're joking, mr. feynman!": adventure...                                                NaN                        ...                        NaN
'salem's lot | stephen king                                                                       NaN                        ...                        NaN
10 lb. penalty | dick francis                                                                1.000000                        ...                        NaN
...                                                                                               ...                        ...                        ...
zlata's diary: a child's life in sarajevo | zla...                                                NaN                        ...                        NaN
zodiac: the eco-thriller | neal stephenson                                                        NaN                        ...                        NaN
zombies of the gene pool | sharyn mccrumb                                                         NaN                        ...                        NaN
zoya | danielle steel                                                                             NaN                        ...                        NaN
zwã?â¶lf. | nick mcdonell                                                                         NaN                        ...                        1.0

[4902 rows x 4902 columns]

In [ ]:
myTopBook = '"surely you\'re joking, mr. feynman!": adventures of a curious character | richard p. feynman'
similar = corr[myTopBook].dropna()
similar

Title
"o" is for outlaw | sue grafton                                                                -1.000000
"surely you're joking, mr. feynman!": adventures of a curious character | richard p. feynman    1.000000
14,000 things to be happy about | barbara ann kipfer                                            1.000000
1984 | george orwell                                                                           -0.802411
1st to die: a novel | james patterson                                                           0.480622
                                                                                                  ...
z for zachariah | robert c. o'brien                                                            -1.000000
zen and the art of motorcycle maintenance: an inquiry into values | robert pirsig              -0.455882
zodiac: the eco-thriller | neal stephenson                                                     -0.542674
zombies of the gene pool | sharyn mccrumb                                                      -1.000000
zoya | danielle steel                                                                          -1.000000
Name: "surely you're joking, mr. feynman!": adventures of a curious character | richard p. feynman, Length: 1706, dtype: float64

In [ ]:
mean_ratings = ratings.groupby('Title')['Book-Rating'].mean()
mean_ratings

Title
" lamb to the slaughter and other stories (penguin 60s s.) | roald dahl                         0.463628
"o" is for outlaw | sue grafton                                                                -0.197531
"surely you're joking, mr. feynman!": adventures of a curious character | richard p. feynman    0.003429
'salem's lot | stephen king                                                                    -0.288384
10 lb. penalty | dick francis                                                                  -0.182577
                                                                                                  ...
zlata's diary: a child's life in sarajevo | zlata filipovic                                     0.082010
zodiac: the eco-thriller | neal stephenson                                                     -0.931777
zombies of the gene pool | sharyn mccrumb                                                       0.298484
zoya | danielle steel                                                                           0.501867
zwã?â¶lf. | nick mcdonell                                                                      -0.035836
Name: Book-Rating, Length: 4902, dtype: float64

In [ ]:
mean_ratings = ratings.groupby('Title')['Book-Rating'].mean()
mean_ratings = mean_ratings[[i in similar.index for i in mean_ratings.index]]
mean_ratings

Title
"o" is for outlaw | sue grafton                                                                -0.197531
"surely you're joking, mr. feynman!": adventures of a curious character | richard p. feynman    0.003429
14,000 things to be happy about | barbara ann kipfer                                            0.193463
1984 | george orwell                                                                           -0.300207
1st to die: a novel | james patterson                                                          -0.400696
                                                                                                  ...
z for zachariah | robert c. o'brien                                                             0.015145
zen and the art of motorcycle maintenance: an inquiry into values | robert pirsig              -0.078613
zodiac: the eco-thriller | neal stephenson                                                     -0.931777
zombies of the gene pool | sharyn mccrumb                                                       0.298484
zoya | danielle steel                                                                           0.501867
Name: Book-Rating, Length: 1706, dtype: float64

In [ ]:
rec = similar.multiply(mean_ratings).sort_values(ascending=False)
rec

Title
johnny got his gun | dalton trumbo                                                          1.106901
conversations with god : an uncommon dialogue (book 1) | neale donald walsch                0.840312
chasing cezanne | peter mayle                                                               0.804888
the crow road | iain banks                                                                  0.771862
in this mountain | jan karon                                                                0.771379
                                                                                              ...
narrative of the life of frederick douglass (dover thrift editions) | frederick douglass   -0.833157
the demon-haunted world: science as a candle in the dark | carl sagan                      -0.851177
anil's ghost (vintage international) | michael ondaatje                                    -0.941267
fierce invalids home from hot climates | tom robbins                                       -0.976217
bones | jan burke                                                                          -1.050783
Length: 1706, dtype: float64

In [ ]:
corr.to_csv('data/IBCF_model.gz', compression='gzip')

In [ ]:
mean_ratings = ratings.groupby('Title')['Book-Rating'].mean()
mean_ratings.to_csv('data/IBCF_ratings.csv')